<!DOCTYPE HTML>
<html>
    <head>
        <meta charset=utf-8>
        <title>Gemeenten</title>
        <style>
            table { border-collapse: collapse; } 
            td, th { border: 1px solid black; padding: 3px; } 
            th { background-color: #ddd}
        </style>
    </head>
    <body>
        <h1>Gemeentenlijst</h1>
        <table>
            <tr>
                <th>Id</th>
                <th>Naam</th>
                <th>Code</th>
                <th>Leverbaar</th>
            </tr>
                {% for gemeente in gemeentenLijst %}
            <tr>
                <td>
                    {{ gemeente.id }}
                </td>
                <td>
                    {{ gemeente.naam }}
                </td>
                <td>
                    {{ gemeente.code }}
                </td>
                <td>
                    {% if gemeente.leverbaarheid == 1 %}
                        Ja
                    {% else %}
                        Nee
                    {% endif %}
                </td>
            </tr>
                {% endfor %}
        </table>
    </body>
</html>