<!DOCTYPE HTML>
<html>
    <head>
        <meta charset=utf-8>
        <title>Registratie</title>
        <link rel="stylesheet" href="src/css/reset.css">
        <link rel="stylesheet" href="src/css/global.css">
        <link rel="stylesheet" href="src/css/registreren.css">
    </head>
    <body>
        {% include 'header.twig' %}
        <div id="regSection">
            <form id="regForm" method="POST" action="registreren.php">
                <fieldset>
                    <legend>Registratieformulier</legend>
                    <p class="formInput"><label for="vnaam">Voornaam: </label><input autofocus type="text" id="vnaam" name="vnaam" /></p>
                    <p class="formInput"><label for="anaam">Achternaam: </label><input type="text" id="anaam" name="anaam" /></p>
                    <p class="formInput"><label for="email">Email: </label><input type="email" id="email" name="email" /></p>
                    <p class="formInput"><label for="paswoord">Paswoord: </label><input type="password" id="paswoord" name="paswoord" /></p>
                    <p class="formInput"><label for="straat">Straatnaam: </label><input type="text" id="straat" name="straat" /></p>
                    <p class="formInput"><label for="huisnr">Nummer: </label><input type="text" id="huisnr" name="huisnr" /></p>
                    <p class="formInput"><label for="postcode">Postcode: </label><input type="number" id="postcode" name="postcode" /></p>
                    <p class="formInput"><label for="telefoon">Telefoon: </label><input type="tel" id="telefoon" name="telefoon" /></p>
                    <p class="formInput"><input type="submit" id="submit" name="submit" value="Verzenden" /></p>
                    <input type="hidden" name="reg" value="Verzenden" />
                </fieldset>
            </form>
        </div>
    </body>
</html>